@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import "bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// Global settings
$body-bg: #0E1414;
$body-color: #FFFFFF;

$primary:       #FFFFFF;
$secondary:     #C2C2C2;
$danger:        #CF1430;

//Fronts
$font-family-sans-serif: "Open Sans";
$font-weight-bold: 600;
